
/////////////////////// box shadow ////////////////////////

$box-shadow: 0 4px 10px 0 rgb(34 41 47 / 13%);
$background-color: linear-gradient(118deg, #0062d1d1, rgb(0 125 254 / 53%));

/////////////////////// all font size variable ////////////////////////
$ft-22:22px;
$ft-20:20px;
$ft-23:23px;
$ft-22:22px;
$ft-18:18px;
$ft-16:16px;
$ft-15:15px;
$ft-14:14px;
$ft-13:13px;
$ft-12:12px;
$ft-11:11px;
$ft-10:10px;
$ft-9:9px;
$ft-8:8px;

/////////////////////// all color variable ////////////////////////
$fourtyseven-color :#929292; //use
$light-pink:#ffb6c138;
$relay-green: #1db100;
$relay-light-green: #00ff00;
$relay-dark-green : #046c64;
$relay-blue : #0076ba;
$relay-red : #fe968d;
$relay-dark-blue : #0075b9;
$relay-card-background-color: #edf5f3;
$primary-color: #fff; //use
$secondary-color: #000000; //use
$dark-grey-color: #5e5e5e; //use
$first-color: none;
$second-color: #7367f0;
$third-color: #e7e7e7;
$fourth-color: #808080;
$fifth-color: #65686a17;
$sixth-color: red;
$seventh-color: #6e6b7b;
$eighth-color: #6e6b7b50;
$nineth-color: #000000c7;
$eleven-color: #215455;
$twelve-color: #9a4451;
$thrteen-color: #d5d5d5;
$fourteen-color: #0000008c;
$fifteen-color: #5c5c5c;
$sixteen-color: #0d1e33;
$eighteen-color: #0000001f;
$ninteen-color: #f3e8e7;
$twenty-color: #1f2f4033;
$twentyone-color: #f4f4f4;
$twentytow-color: #17A2B8;
$twentytfour-color: #1CAF9A;
$amber-color:#ffac04;


/*$twentyfive-color: linear-gradient(-20deg, #9b1b1be0 0%, #0e0e10c2 100%);
$twentytsix-color: linear-gradient(-20deg, #76592bd9 0%, #437672 100%);
$twentyseven-color: linear-gradient(-20deg, #2b6a76ed 0%, #704376f0 100%);
$twentyeight-color: linear-gradient(to top, #830ba3de 0%, #ba3c50c2 100%);
$twentynine-color: linear-gradient(-20deg, #199984ad 0%, #9c5563f2 100%);
$thirty-color: linear-gradient(to top, #5e3a93 0%, #c9578c 100%);
$thirtyone-color: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
$thirtytow-color: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
$thirtythree-color: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
$thirtyfour-color: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
$thirtyfive-color: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
$thirtysix-color: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
$thirtyseven-color:#3300ff;
$thirtyeight-color:#39dc86;
$thirtynine-color:#ffab01;
$fourthone-color : #fe5948;
$fourtysix-color :rgb(241, 151, 151);
$btn-bg-color: linear-gradient(118deg, #0062d1d1, rgb(0 125 254 / 53%));
$btn-bg-color-two: linear-gradient(118deg, #000000d1, rgb(128 0 128));
$btn-bg-color-three: linear-gradient(118deg, #085f53, rgb(64 183 166));
$btn-bg-color-four: linear-gradient(118deg,#344459,rgba(59,77,99,.84));
$background-color: var(--main-color,$btn-bg-color);*/

/////////////////////// box shadow ////////////////////////

$box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
$box-shadow-1: 0 0 9px hsl(0deg 0% 75% / 36%);
//$login_box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
//$report_box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;